@font-face {
    font-family: 'vazir-r';
    src: url(/fonts/vazirmatn/Vazirmatn-Regular.ttf);
}

/* @font-face {
    font-family: 'vazir-m';
    src: url(/fonts/vazirmatn/Vazirmatn-Medium.ttf);
}
@font-face {
    font-family: 'vazir-b';
    src: url(/fonts/vazirmatn/Vazirmatn-ExtraBold.ttf);
} */